<div class="container p-5">
  <h1 class="text-center mb-5">Cadastro de Serviço</h1>
  <form>
    <!--MAIN FORM-->
    <div class="row">
      <div class="col-12 col-lg-8 col-xl-6 mx-auto">
        <div class="row mb-2">
          <div class="col-xl-2 col-lg-2 form-floating">
            <input
              type="number"
              id="os"
              class="form-control"
              name="numberOs"
              required
              readonly
            />
            <label for="Os" class="form-label mx-2">OS</label>
          </div>

          <div class="col-xl-5 col-lg-5 form-floating">
            <input type="date" id="Data" class="form-control" />
            <label for="Data" class="form-label mx-2">Entrada</label>
          </div>

          <div class="col-xl-5 col-lg-5 form-floating">
            <input type="date" id="Data" class="form-control" />
            <label for="Data" class="form-label mx-2">Entrega</label>
          </div>
        </div>

        <!--campo cliente completo-->
        <div class="row mb-2">
          <div class="form-floating">
            <input type="text" id="cliente" class="form-control" />
            <label for="cliente" class="form-label mx-2">Cliente</label>
          </div>
        </div>

        <!--campo complemento-->
        <div class="row">
          <div class="col-xl-12 col-lg-12 form-floating">
            <select class="form-select form-control" id="opcoes">
              <option selected disabled>Selecione um Gênero...</option>
              <option value="opcao1">Painel Redondo</option>
              <option value="opcao2">Painel Retangular</option>
              <option value="opcao3">Totem</option>
            </select>
          </div>
          <div class="mt-2">
            <button type="submit" class="btn btn-primary">Adicionar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
