{% extends 'base.html' %} {% block content %}
<!-- Header Ficha -->
<div class="container"  style="padding-top: 32px;">
  <div class="row">
    <div class="col-sm-2">
      <div class="form-floating">
        <input type="text" id="inumberPedido" readonly class="form-control"  value="{{ number_os }}" />
        <label for="inumberPedido" class="form-label">Número do Pedido</label>
      </div>
    </div> <!--  -->
    <div class="col">
      <div class="form-floating">
        <select
        class="form-select"
        aria-label="Nome do Cliente"
        id="choicesNameClient"
        >
        <option selected></option>
        <option value="1">Mateus josé da silva</option>
        <option value="2">Breno polezi</option>
      </select>
      <label for="choicesNameClient">Nome do Cliente</label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-floating">
        <input type="date" id="idateEntry" class="form-control" />
        <label for="idateEntry" class="form-label">Entrada</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input type="date" id="idateEntrega" class="form-control" />
        <label for="idateEntrega" class="form-label">Entrega</label>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- Dados da ficha  -->
<div class="container " style="padding-top: 32px;">
    <div class="form-floating">
      <select
      class="form-select "
      aria-label="Selecione o tipo de pedido"
      id="choicesPedido"
      >
      <option selected></option>
      <option value="painel-redondo">Painel</option>
      <option value="2">Totem</option>
    </select>
    <label for="choicesPedido">Selecione o tipo de Produto</label>
  </div>
  <!-- PAINEL REDONDO -->
  <div class="container hidden" id="form-painelRedondo">
    <form method="post" class="row" style="border: 1px solid black; padding: 32px;">
      <div class="row">
        <div class="form-floating">
          <input type="text" id="inamePainel" class="form-control" />
          <label for="inamePainel" class="form-label mx-2">Nome do Painel</label>
        </div>
      </div>
      <div class="row">
            <div id="dropzone">Cole ou arraste a imagem aqui</div>
      </div>
        <input type="button" onclick="validateProduto()" value="Salvar" class="btn btn-sucess">
      </form>
    </div>
  </div>
</div>
<div class="container " style="padding-top: 32px;">
  <div class="row">

  </div>
</div>
<script src="
{{ url_for('static', filename='js/dropzone.js') }}
"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const hoje = new Date().toISOString().split("T")[0];
    document.getElementById("idateEntry").value = hoje;
  });
  function validateProduto(){
    try {
  
      let namePainel = document.querySelector("#inamePainel");
      console.log("PASSEI AQUI 1")
    let sourceImage = document.querySelector("#dropzone").children[0].src;
    console.log("PASSEI AQUI 2")

    if (namePainel || sourceImage ){
      console.log("PASSEI AQUI 3")
      alert("Ficha salva")
    }else{
      alert("Prenchas as informações corretamente")
    }
  
    } catch (error) {
      console.log(error)
      alert("Prencha as informações corretamente!")
      
    }
    
  }
</script>

{% endblock %}
